ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #9b0e27;
    color:white;
    text-decoration-line: none;
  }
  
  .active {
    background-color: #9b0e27;
  }
  .card{
    height: 130px;
    width: 100%;
    background-color: gray;
    box-shadow: 3px 3px 3px gray;
  }